{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Archives{% endblock %}
{% block content %}

<section id="content" class="body">    
    <h1 class="content-title">Archives</h1>
    {% if articles %}
    {% for article in articles_page.object_list %}        
    {# First item #}
    {% if loop.first and not articles_page.has_previous() %}
    <table class="table">
    <tbody>
        <tr>
        <td>{{ article.date.strftime("%d %b %Y") }}</td>
        <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
        </tr>
        {% if loop.length == 1 %}
            </tbody>
            </table>
            {% include 'pagination.html' %}
        {% endif %}
    {# other items #}
    {% else %} 
        <tr>
        <td>{{ article.date.strftime("%d %b %Y") }}</td>
        <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
        </tr>      
        {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
            </tbody>
            </table>
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %} {# First item if #}

    {% endfor %} {# For article #}
    {% endif %} {# If articles #}
</section>
{% endblock content %}
