<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/html5.js"></script>
    <![endif]-->
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ SITEURL }}/theme/bootstrap-collapse.js"></script>

    <!-- Le styles -->
    <link href="{{ SITEURL }}/theme/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/bootstrap.min.responsive.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">

    <!-- So Firefox can bookmark->"abo this site" -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}

</head>

<body>

<div class="navbar">
    <div class="navbar-inner">
    <div class="container">

         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </a>

        <a class="brand" href="{{ SITEURL }}">{{ SITENAME }}</a>

        <div class="nav-collapse">
        <ul class="nav">
        {% if DISPLAY_CATEGORIES_ON_MENU %}
            <li class="dropdown"><a>Categories</a>
                <ul class="dropdown-content">
                {% for cat, null in categories %}
                    <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                </ul>>
            </li>
        {% endif %}

        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
            
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% endif %}
        </ul>
        </div>
        
    </div>
    </div>
</div>

<div class="container">
    <div class="content">
    <div class="row">

        <div class="span9">
        {% block content %}{% endblock %}
        </div>
        
        <div class="span3">
		
		    <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
    			<div style="width:80%; margin:0 auto;">
                    <div style="text-align: center;">
						<a href="/" class="profilepic">
							<img src="https://i.loli.net/2019/03/28/5c9ceab15146f.png" alt="photo.png" title="photo.png">
						</a>
						<h1><span class="mainTitle">Hao Jiang</span><span class="subTitle">Justin Time</span></h1>
						<p class="motto">We only live once, and time just goes by.</p>
						<ul class="biography">
						<li><span><img src="/theme/images/icons/work.svg" class="listIcon"></span><span>R&amp;D Engineer <a href="http://www.h3c.com" target="_blank">@H3C</a></span></li>
						<li><span><img src="/theme/images/icons/location.svg" class="listIcon"></span><span>Hangzhou, China</span></li>
                    </div>
                </div>
            </div>

            {% if categories %}
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Categories
                </li>
                
                {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}                   
            </ul>
            </div>
            {% endif %}

        </div> {# End span3 #} 
    </div> {# End row #}
    </div> {# End content #}

<footer>
<br />
{% if articles %}
   {% set copy_date = articles[0].date.strftime('%Y') %}
{% else %}
   {% set copy_date = '' %}
{% endif %}
<p><a href="{{ SITEURL }}">{{ SITENAME }}</a> &copy; {{ AUTHOR }} {{ copy_date }}</p>
</footer>

</div> <!-- /container -->
{% include "analytics.html" %}
{% include "github.html" %} 
</body>
</html>
