{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>

        <hr />

        <div class="copyright-claim">
        	<span>
    			<p>版权声明：本文为<a href="{{ SITEURL }}">{{ SITENAME }}</a>博主原创文章，遵循<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC 4.0 BY-SA </a>版权协议，转载请附上原文出处链接和本声明。</p>
    			<p>原文链接：<a href="{{ SITEURL }}/{{ article.url }}">{{ SITEURL }}/{{ article.url }}</a></p>
    		</span>
        </div>

		{% if article.toc %}
			<nav class="toc">
			{{ article.toc }}
			</nav>

			<hr />

		{% endif %}

        <div>{{ article.content }}</div>
	
        <hr />

	{% include "twitter.html" %}
    {% include "gitalk.html" %}
    </div>
{% endblock %}
