<span class="metadata">
{{ article.locale_date }}&nbsp;&nbsp;&nbsp;

{% if article.author %}
by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>&nbsp;&nbsp;&nbsp;
    {% if article.translations %}
        <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-info xsmall">{{ article.lang or DEFAULT_LANG }}</a>
        {% for translation in article.translations %}
            <a href="{{ SITEURL }}/{{ translation.url }}" class="btn btn-info xsmall">{{ translation.lang }}</a>&nbsp;
        {% endfor %}
    {% endif %}
{% endif %} 

Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>&nbsp;&nbsp;&nbsp;

 
{% if article.tags %} 
    Tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>,&nbsp;{% endfor %}
{% endif %}
<hr />
{% if article.original %}
<br />
版权声明：本文为博主原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接和本声明。
本文链接：{{ article.url }}
{% endif %}
</span>