{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Tags{% endblock %}
{% block content %}
<script src="{{ SITEURL }}/theme/jqcloud/jqcloud.js"></script>
<link href="{{ SITEURL }}/theme/jqcloud/jqcloud.css" rel="stylesheet">
<script>
    var words = [];
    {% for tag, articles in tags|sort %}
        words.push({text: "{{tag}}", weight: Math.random(), link: '{{ SITEURL }}/{{ tag.url }}'});
    {% endfor %}
    {% for category, articles in categories %}
        words.push({text: "{{category}}", weight: Math.random(), link: '{{ SITEURL }}/{{ category.url }}'});
    {% endfor %}
    $(function() {
        $("#tagcloud").jQCloud(words, {
            autoResize: true
        }); 
    });
</script>
<section id="content" class="body">    
    <div id="tagcloud" style="width: 80%; height: 450px; align-self: center;"></div>
</section>
{% endblock %}
